@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Share Tech Mono', sans-serif;
  margin: 0;
}

h1,
h2 {
  font-size: 1.2em;
}

#wrapper {
  width: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

hr {
  border: 2px solid #3a3a3a;
}

section {
  margin-bottom: 2em;
  margin-top: 1em;
}

section h2,
h1 {
  margin-left: .25em;
}

/**
Header styles
 */
header .header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.header__right {
  display: flex;
  gap: 0.5rem;
}

.header__right p {
  align-self: center;
}

header a {
  align-self: center;
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1.2em;
}

/**
Nav styles
 */
nav {
  background-color: #3a3a3a;
}

nav ul {
  display: flex;
  padding: 0 0 0 .25rem;
  justify-content: space-evenly;
  max-width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

nav li {
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

/**
Footer styles
 */
footer p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: .9em;
}

/**
Main styles
 */
main {
  padding-left: .25rem;
}

#delorean {
  background-image: url("/phpmotors/images/delorean.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#delorean h2 {
  margin-left: 0;
}

#delorean a:hover {
  opacity: .5;
}

#delorean li {
  list-style: none;
  color: #4c96d7;
}

#delorean li h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #4c96d7;
}

#delorean ul {
  padding-left: 0;
  margin-top: 0;
  max-width: 200px;
  margin-left: .5em;
  margin-bottom: 8em;
  background-color: rgba(255, 255, 255, 0.7);
}

#delorean li {
  font-size: .85em;
}

#actionbtn {
  display: none;
}

#actionbtn:hover {
  opacity: .5;
}

.flex {
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
  width: 100%;
  padding-left: .25em;

}

.flex a {
  width: 100%;
}

.add-col {
  background-color: #4c96d7;
  height: 5.5em;
  width: 95%;
  border: #3a3a3a solid 1px;
}

a figure {
  margin: 0;
}

figure img {
  display: block;
  margin: auto;
  padding-top: .5em;
}

figure figcaption {
  text-align: center;
}

#review li {
  font-size: .9em;
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("/phpmotors/images/site/small_check.jpg");
    background-size: cover;
  }

  h1 {
    font-size: 1.9em;
  }

  /**
  Nav Styles
   */
  nav {
    margin-top: .75rem;
  }

  nav ul {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }

  nav li {
    margin: 0;
    font-size: 1.2em;
    padding: 0;
    text-align: center;
  }

  nav a {
    display: inline-block;
    width: 4.5em;
    padding: .25rem 0;
  }

  nav a:hover {
    color: #3a3a3a;
    background-color: #fff;
  }

  /**
  Main styles
   */
  #wrapper {
    border: 5px solid #4c96d7;
    border-radius: 10px;
    margin-top: 1em;
    width: 75%;
  }

  #delorean ul {
    font-size: 1.6em;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 15em;
  }

  #delorean {
    background-size: contain;
    margin-bottom: 0;
  }

  #actionbtn {
    display: block;
    width: 90%;
    margin-top: 1.5em;
  }

  .flex-content {
    display: flex;
    justify-content: space-around;
  }

  #review h2,
  #add-ons h2 {
    font-size: 1.4em;
    margin-bottom: 2em;
  }

  #add-ons {
    order: -1;
  }

  #review li {
    font-size: 1.1em;
  }

  #add-ons {
    width: 45%;
  }

  #add-ons, #review {
    margin-top: 0;
  }
}

.field {
  margin-bottom: 1rem;
}

.field input, .field textarea, .field select {
  display: block;
  min-width: 200px;
}

.btn {
  display: block;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn--primary {
  background-color: #4c96d7;
}

.btn--secondary {
  background-color: #3a3a3a;
  color: #ffffff;
}

input:focus:invalid, textarea:focus:invalid {
  background: lightcoral;
}

input:focus:valid, textarea:focus:valid {
  background: darkgreen;
  color: #ffffff;
}

.success {
  color: darkgreen;
  font-style: italic;
}

.notice {
  color: darkred;
  font-style: italic;
}

#inv-display{
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
 
#inv-display li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  width: 200px;
  height: 250px;
  text-align: center;
  justify-self: center;
  list-style-type: none;
  border: 1px #ccc solid;
  border-radius: 0.75rem;
  padding-bottom: 1.5rem;
  margin-bottom: .5em;
}
 
#inv-display li img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}

#inv-display li hr{
  width: 100%;
  margin: 0;
  border: 1px solid #3a3a3a;
}

#inv-display li h2 {
  margin: 0;
  text-align: center;
}

#inv-display li span{
  text-align: center;
  display: block;
  margin-top: 0.5rem;
}

.vehicle-details{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.vehicle-details-image {
  display: block;
  max-width: 100%;
}

.vehicle-details-attributes {
  margin: 0;
  padding: 0;
  list-style: none;
}

.vehicle-details-attributes li:nth-child(odd) {
  background: #f2f2f2;
}

.vehicle-details-attributes li {
  padding: 1rem;
  margin: .5rem .5rem .5rem 0;
  border-radius: 5px;
}

.vehicle-details-attributes li p {
  padding: 0;
  margin: 0;
}

.vehicle-gallery {
  display: flex;
  flex-direction: column-reverse;
}
.vehicle-thumbnails {
  list-style: none;
  display: flex;
  padding-left: 0;
}

@media (min-width: 768px) {

	#inv-display h2{
		font-size: 1rem;
	}

	#inv-display li {
		max-width: 200px;
		flex: 1 0 auto;
		
	}
      
	#inv-display div {
		width: 100%;
	}

  .left-section {
    display: flex;
    flex-direction: column;
  }
  
  .vehicle-gallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: fit-content(120px) 1fr;
  }
  
  .vehicle-thumbnails {
    flex-direction: column;
    max-width: 120px;
  }

  .vehicle-details{
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(50%, 1fr) 1fr;
    padding: 0;
    text-align: left;
  }
}

.radio-fieldset {
  display: flex;
}

.radio-fieldset label {
  display: flex;
}

.vehicle-thumbnails li:hover {
  transition: 0.4s;
  transform: scale(1.5);
}

.vehicle-thumbnails img{
  max-width: 120px;
}

.vehicle-image-managment {
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.vehicle-image-managment li {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
}

.vehicle-image-managment img {
  max-width: 200px;
}

.search-form input {
  width: 100%;
}

.search-form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.search-results {
  list-style: none;
  padding: .5rem;
}

.search-pagination {
  display: flex;
  list-style: none;
  padding: 0;
  gap: .5rem;
  max-width: 400px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}